---
layout: default
title: "Google Developer Group"
sub-title: "Milano"
image: assets/DevFestLomb2013-46.jpg
image-position: center
---
<div id="main">
  <div class="container">
    <div class="row last">
      <div class="col-md-6">
        <div class="last-event">
          <h3>Prossimo evento:</h3>
          <ul>
            {% for post in site.categories["eventi"] limit:1 %}
              <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <span class="event-detail corner level-{{ post.level }}">{{ post.level }}</span>
                <span class="event-detail when"><b>Quando: </b>{{ post.when }}</span>
                <span class="event-detail where"><b>Dove: </b>{{ post.where }}</span>
                <span class="event-detail tags"><b>Tag: </b> {{ post.tags | array_to_sentence_string }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="last-post">
          <h3>Ultimo articolo:</h3>
          <ul>
            {% for post in site.categories["blog"] limit:1 %}
              <li>
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <span class="corner">{{ post.date | date_to_string }}</span>

                  {{ post.excerpt | truncate: 180 }}

              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div id="chi-siamo" class="about">
      <div class="row">
        <!-- <div class="col-md-4">
          <img src="/assets/google-developers.png"/>
        </div> -->
        <div class="col-md-12">
          <h2>Chi siamo</h2>
          <p>Il GDG Milano (Google Developer Group) è uno user group indipendente rivolto a sviluppatori, tecnici, studenti e, in generale, ad appassionati di tecnologie informatiche, con un focus in particolare su quelle offerte da Google.</p>
          <p>Lo scopo del gruppo è quello di sviluppare una comunità di persone interessate ad approfondire gli aspetti delle tecnologie di volta in volta trattate, incontrandosi, scambiandosi idee e, perché no, facendo amicizia in un ambiente informale e aperto.</p>
          <h2>Cosa Facciamo</h2>
          <p>Le attività del GDG Milano ruotano principalmente attorno all'<a href="/eventi">organizzazione di eventi</a> indicativamente a cadenza mensile. Il GDG è soprattutto community quindi non essere timido, partecipa agli incontri e parla con gli altri membri e con gli organizzatori. Chissà che il nostro prossimo talk o workshop possa essere proprio il tuo!</p>
          <p>Generalmente i nostri eventi si dividono principalmente di tre tipologie:</p>
          <h3>I meetup</h3>
          <p>Si tratta di talk su argomenti specifici. Si compongono principalmente di tre momenti: Il talk da parte dello speaker, una sessione di domande finali di approfondimento e uno spazio aperto alla discussione tra i partecipanti e lo speaker.</p>
          <h3>I workshop</h3>
          <p>Durante questi eventi, offriamo occasioni di apprendimento o approfondimento di una tecnologia, con una parte significativa dedicata alla pratica o alla sperimentazione. Possono durare poche ore o essere suddivisi su più incontri.</p>
          <h3>Gli hackaton</h3>
          <p>Sono veri e propri eventi a carattere agonistico, dove team di programmatori, designer o appassionati si sfidano a colpi di codice! Gli hackathon rappresentato la migliore occasione per imparare, mettersi alla prova e divertirsi insieme ad altre persone che condividono la nostra stessa passione!</p>
        </div>
      </div>
    </div>
  </div>
</div>
