<footer>
  <ul class="color-bar group">
    <li class="color-blue"></li>
    <li class="color-red"></li>
    <li class="color-yellow"></li>
    <li class="color-green"></li>
  </ul>
  <div id="contatti" class="container">
    <div class="row">
      <div class="col-md-6 contact bottom">
        <h4><img src="/assets/GDGMilanoW.svg"></h4>
        <p>Il miglior modo di rimanere in contatto con noi, è iscrivendovi alla mailing-list del <a href="https://groups.google.com/d/forum/gdg-milano">GDG Milano.</a></p>
        <p>Potete contattarci per avere informazioni, proporre un talk o se volete inviarci suggerimenti in merito all'organizzazione della community.</p>
        <a href="mailto:infogdgmi@gmail.com" target="_blank" class="btn btn-default submit"><span class="glyphicon glyphicon-envelope send"></span><span>Invia</span></a>
      </div>
      <div class="col-md-3 social bottom">
        <h4>Alcuni link utili:</h4>
        <ul>
          <li><a href="https://developers.google.com/">Google Developers</a></li>
          <li><a href="https://developers.google.com/groups/">Google Developer Groups</a></li>
          <li><a href="https://developers.google.com/products/">Google Products</a></li>
        </ul> 
        <h4>Seguiteci su:</h4>
          <span><a href="https://plus.google.com/u/0/b/111537749545250109648/111537749545250109648/posts"><img src="/assets/plus-icon.svg"></a></span>
          <span><a href="https://github.com/GdgMilano"><img src="/assets/github-icon.svg"></a></span>
          <span><a href="https://www.facebook.com/GDGMilano"><img src="/assets/facebook-icon.svg"></a></span>
      </div>
      <div class="col-md-3 sponsor bottom">
        <h4>Sponsored by:</h4>
        <ul>
          <li><a href="http://www.oreilly.com/"><img src="/assets/ug_ad_200_superowl.gif"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="credit">
    <div class="container">
      <div class="col-md-12">
        <span class="copy-by">@2015 - GDG Milano</span>
        <span class="made-by">Made with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.jacoporabolini.com">Jacopo Rabolini</a></span>
      </div>
    </div>
  </div>
</footer>
