//Overwrite Default Bootstrap
.navbar-default {
  background: transparent;
  border: 0;
  padding: 25px 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  .navbar-nav>li>a {
    color: $light;
    &:hover {
      color: $fourth;
    }
  }
}

.row {
  margin: 0;
}

.navbar>.container .navbar-brand {
  margin-left: 0;
}

.navbar-default .navbar-toggle {
  margin: 0;
  padding: 25px;
  border: 0;
  &:hover {
    background-color: transparent;
  }
  .icon-bar {
    background-color: $light;
  }
}

.navbar-default.navbar-small .navbar-toggle .icon-bar {
    background-color: $grey-dark;
  }

div#nav[aria-expanded="true"] {
  background-color: $light;
  a {
    color: $dark;
    &:hover {
      color: $fourth;
    }
  }
}

//Group
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

// Navbar Style
.navbar-brand {
  padding: 0;
	margin: 0.4em 0; /* 20px/50px */
  background: url('../assets/GDGMilanoW.svg') center left no-repeat;
  background-size: contain;
  width: 200px;
}

.navbar-right {
  margin: 0.4em 0;
  a:hover {
    color: $second;
  }
}

.page-top {
  padding-top: 90px;
  background-size: cover !important;
}

//Navbar Small Style
.navbar-small {
  background: $light;
  //opacity: 0.9;
  padding: 0;
  border-bottom: 1px solid $grey;
  .navbar-nav>li>a {
    color: $dark;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    width: 45%;
    .navbar>.container & {
      margin-left: 15px;
    }
  }
}

.navbar-brand-small {
  background: url('../assets/GDGMilano.svg') center left no-repeat;
  background-size: contain;
}

//Header Page Style
.header-intro {
  text-align: center;
  padding: 100px 0 100px 0;
}

.header-title {
  color: $light;
  text-shadow: 0 1px 0 $dark;
  h1 {
    font-size: 3.7em;
    font-weight: 900;
  }
  span {
    font-size: 1.8em;
    display: block;
    &.glyphicon {
      margin-top: 20px;
    }
  }
}

//Footer Style
footer {
  background-color: $fifth;
  color: $light;
  a {
    color: $fourth-light;
  }
  .credit {
    border-top: 1px solid $grey;
    padding:20px 0;
    margin:20px 0 0 0;
    font-size: 0.8em;
    .made-by {
      float: right;
    }
    a {
      color: $light;
    }
  }
}
.color-bar {
  list-style: none;
  padding: 0;
  li {
    float: left;
    display: block;
    width: 25%;
    height: 10px;
    &.color-blue {
      background-color: $second;
      }
    &.color-red {
      background-color: $first;
      }
    &.color-yellow {
      background-color: $fourth;
      }
    &.color-green {
      background-color: $third;
      }
  }
}

.contact {
  img {
    width: 35%;
  }
} 

a.submit {
  display: inline-block;
  background-color: $fifth-dark;
  font-weight: 100;
  line-height: 2;
  color: $light;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px 0 $fifth-darkest;
  &:hover {
    background-color: $fifth-light;
    color: $fifth-dark;
  }
}

.send {
  margin-right: 0.4em;
}

.social, .sponsor {
  span {
    margin: 0 0.2em;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-right: 0.6em;
    }
  }
}

.social img {
  width: 10%;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .contact img {
    width: 45%;
  }
  .bottom {
    margin-bottom: 30px;
  }
  .credit {
    text-align: center;
    .copy-by, .made-by {
      display: block;
    }
  }
  footer .credit .made-by {
    float: none;
  }
}

