//Event
#main.page ul {
	border: 0;
	h2 {
		display: inline-block;
		a {
			margin-right: 0.3em;
		}
	}
}

.event-title, .list-detail {
	margin-bottom: 10px;
}

.event {
	border-bottom: 1px solid $grey;
	margin-top: 20px;
	position: relative;
	&:first-child {
		margin-top: 10px;
	}
	&:last-child {
		border: 0;
	}
	.corner {
		top: 0;
		right: 0;
		border-radius: 4px;
	}
}

.level, .target {
	position: relative;
	bottom: 5px;
	background-color: $fifth;
    padding: 0.3em 0.5em;
    margin-right: 0.3em;
    color: white;
    text-transform: uppercase;
    font-size: 0.4em;
    &.level-beginner {
    	background-color: $third;
    }
    &.level-intermediate {
    	background-color: $fourth;
    }
    &.level-expert {
    	background-color: $first;
    }
}