<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {{ page.sub-title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/lib/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="http://www.gdgmilano.org/assets/GDGMilano.svg" />

    <script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "WebSite",
        "name" : "GDGMilano",
        "alternateName" : "Google Developer Group Milano",
        "url" : "http://www.gdgmilano.org/"
    }
    </script>
</head>
<body>

<!-- Header -->
{% include header.html %}

<!-- Content -->
{{ content }}

<!-- Footer -->
{% include footer.html %}

<!-- Script -->
{% include script.html %}

</body>
</html>
